{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Your Reviews</h2>
            <h3>
                {% if reviews %}{{ reviews|length }} review{{ reviews|length|pluralize }} {% endif %}
            </h3>
            <hr>
        </div>
    </div>
    <div class="container-fluid poster-details-mt">
        {% if reviews %}
            <!-- List out all the reviews authored by the user -->
            {% for review in reviews %}
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                        <div class="image-container my-5 w-100">
                            {% if review.image_url %}
                                <a href="{% url 'poster_details' review.poster_id %}">
                                    <img class="card-img-top img-fluid" src="{{ review.image_url }}" alt="{{ poster.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'poster_details' review.poster_id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ poster.name }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="mb-5 mt-md-5">
                            <p class="mb-0">
                                <a href="{% url 'poster_details' review.poster_id %}"><strong>{{ review.poster_name }}</strong></a>
                            </p>
                            <div class="d-flex">
                                <!-- Review Rating -->
                                {% if review.rating %}
                                    <small><i class="fas fa-star mr-1"></i><strong>{{ review.rating }} / 5</strong></small>
                                {% else %}
                                    <small><strong>No Rating</strong></small>
                                {% endif %}
                            </div>
                            <p><em>Reviewed on {{ review.amended_at|date:"d F Y" }}</em></p>
                            {% comment %}Convert the review title into title-case{% endcomment %}
                            <h2>{{ review.title|title }}</h2>
                            <h5 style="margin-left: -1rem;" class="col-12">
                                {{ review.content }}
                            </h5>

                            <form class="form" action="" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <!-- The Submit is for the EDIT action-->
                                        <input type="submit" class="btn btn-primary rounded-0 text-uppercase my-1" value="Edit Review">
                                        <!-- Whilst the href is for the DELETE action -->
                                            <a href="{% url 'remove_review' review.id %}"
                                            class="btn btn-danger rounded-0 my-1">
                                            <span class="text-uppercase">Delete Review</span>
                                        </a>
                                    </div>
                                    <!-- This is needed to determine which review is to be edited -->
                                    <input type="hidden" name="review_id" value="{{ review.id }}">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <hr>
        {% endfor %}
        {% else %}
            <p class="lead mb-5">Your have no reviews.</p>
            <a href="{% url 'posters' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>        
        {% endif %}
    </div>
    <div class="backtotop-button shadow-sm rounded-0 border backtotop-border">
        <a class="backtotop-link d-flex h-100">
            <i class="fas fa-arrow-up backtotop-colour mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/myapp.js' %}"></script>
{% endblock %}