<!-- This is identical to quantity-form1.html except for the fact that the following IDs have been numbered
     decrement-qty2_, increment-qty2_ and remove2_ in order to make the IDs unique in order to pass HTML Validation.
     Moreover, the class remove-item as been renamed remove2-item for the Javascript to handle the correct element. -->

<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty2_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty2_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-black rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty2_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="update-link text-info">
    <small title="Update shopping bag with the quantity displayed above">Update</small></a>
<a class="remove2-item text-danger float-right" id="remove2_{{ item.item_id }}">
    <small title="Remove poster, price and quantity from the shopping bag">Remove</small></a>
