{% extends "base.html" %}
{% load static %}
<!-- The file is based on the example shown in Code Institute's Boutique Ado Walkthrough -->

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- header -->

<div class="container-fluid h-100 remove-left-right-padding">
    <header class="hero-image-flex" aria-label="An open bible shown over a pathway. Photo by Aaron Burden.">
        <div class="hero-text-centre">
            <h1 class="hero-text-style">
                Proclaiming the message of the Bible one poster at a time
            </h1>
            <div>
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 ">Shop Now</a>
                </h4>
            </div>
        </div>
    </header>

    <!-- About Us section -->
    <div class="about mt-5">
        <div class="container">
            <h1 class="text-center">About Us</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="{% static 'img/aboutus.png' %}" class="img-fluid"
                        alt="Who says a small poster can't start a big collection? by Anete Lusina">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 desc">

                    <p>
                        If you are looking for a poster of your favourite Bible story,
                        then this is the right place! Posters of the message of the Bible are simply our specialty, 
                        and that is why every week we add new releases as we pore over the pages of the Scriptures.
                    </p> 
                    <p>
                        Because the environment matters, all our posters are printed on sustainable 200gsm paper 
                        using vegetable based inks. The size of our posters are all 420x297mm landscape (A3). 
                        We have all displayed posters in stock. Browse our categories and find the posters 
                        that will make your room an inspiring place.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Special Days section -->
    <hr class="border border-primary border-3 opacity-75">
    <div class="special-days">
        <div class="container">
            <h1 class="text-center">Special Days<span class="span-gap newline discount-text">25% Discount!</span></h1>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'img/passover.jpg' %}" class="img-fluid"
                                alt="Basin with a branch of hyssop depicting the Passover">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">Feast of Passover</h4>
                            <p class="card-text">
                                Passover is an eight-day holiday commemorating the Israelites' emancipation 
                                from slavery in ancient Egypt. In the first Passover, a lamb was slain, 
                                and Jesus the Messiah in the New Testament, was slain during Passover. 
                                After three days GOD raised him from the dead. 
                                Christians believe that Jesus the Messiah is their Passover lamb 
                                sacrificed for them (1 Corinthians 5:7).
                                <!-- In order to make all the card footers aligned -->
                                <span class="newline">&nbsp;</span>
                                <span class="newline">&nbsp;</span>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Passover (Hebrew: Pesach)
                            <span class="newline">&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'img/pentecost.jpg' %}" class="img-fluid"
                                alt="Men with flames of fire appearing above their heads depicting the Day of Pentecost">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">Pentecost (Shavuot)</h4>
                            <p class="card-text">
                                Shavuot is a two-day holiday commemorating GOD giving the Torah (GOD's Law)
                                to the Israelites at Mount Sinai over three thousand years ago. 
                                Shavuot, meaning "weeks," is named after counting forty-nine days (seven 'weeks') 
                                from the second day of Passover. The fiftieth day after the first day of Passover 
                                is also the day when GOD poured out His holy spirit 
                                on about one hundred and twenty disciples of Jesus the Messiah
                                <span class="newline">(Acts Chapter 2).
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Pentecost (Hebrew: Shavuot)<span class="newline">AKA Feast of Weeks</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'img/booths-tents.png' %}" class="img-fluid"
                                alt="Tents in the Wilderness (desert) depicting the Feast of Booths">
                        </div>

                        <div class="card-body">
                            <h4 class="card-title">Feast of Booths (Sukkot)</h4>
                            <p class="card-text">
                                Sukkot is a week-long holiday commemorating the forty years the Israelites 
                                spent in the desert after escaping slavery in Egypt.
                                Present-day Jews live, eat, and sleep in booths/tents during this holiday week,
                                reminiscing about their time in tents in the desert.
                                Sukkot is likely the true date of Jesus' birth, since
                                <em>"God's word was tabernacled (tented) in the flesh"</em> 
                                in Jesus (John 1:14).
                                <!-- In order to make all the card footers aligned -->
                                <span class="newline">&nbsp;</span>
                                <span class="newline">&nbsp;</span>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            Feast of Booths (Hebrew: Sukkot)<span class="newline">AKA Feast of Tabernacles</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter form -->
    <hr class="border border-primary border-3 opacity-75">
    <div class="newsletter-form">
        <div class="container">
            <form>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h2>Subscribe for our Newsletter</h2>
                        <p>to receive updates and scriptural content</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 right">


                        <form class="form-inline">
                            {% csrf_token %}
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="email" class="form-control form-control-lg"
                                    placeholder="Your Email Address" name="email"
                                    aria-label="Your Email Address (Required)" required>
                                <button type="submit" class="btn btn-primary mt-4 float-right">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</div>

{% endblock %}