/* The file is based on the example shown in Code Institute's Boutique Ado Walkthrough */

:root {
	--profile-form-height: 416px; /* height of profile form + submit button */
}

.order-history {
    max-height: var(--profile-form-height);
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}
