/* The file is based on the example shown in Code Institute's Boutique Ado Walkthrough */

:root {
    --main-fg-colour: #768dc3;
    --main-bg-colour: #b5b9a6;
    --main-title-colour: #3b4661;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: Montserrat;
    background-color: #adffe4;
}

/* =========================== HOME PAGE =========================== */

.hero-text-style {
    font-family: Pacifo;
    font-style: italic;
}

.hero-image-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/media/hero-image-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.hero-text-centre {
    text-align: center;
    color: white;
}


.navbar-style {
	background: var(--main-bg-colour);
}

.nav-link , .navbar-brand {
	color: --main-fg-colour;
	cursor: pointer;
}
.nav-link {
	margin-right: 1em !important;
}
.nav-link:hover {
	background: var(--main-fg-colour);
	color: var(--main-bg-colour);
}

.navbar-collapse {
 justify-content: flex-end;
}

.navbar-toggler {
  background:#fff !important;
}

.about{
	margin: 4em 0;
	padding: 1em;
	position: relative;
    font-size: 120%;
}

.about h1{
	color: var(--main-title-colour);
	margin: 2em;
}

.about img{
	height: 100%;
    width: 100%;
}

.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}

.about .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}

.about .desc h3{
	color: #10828C;
}

.about .desc p{
	line-height:2;
    color: #000;
}

/* Special Days style */

.newline::before{
    content: "\a";
    white-space: pre;
}

.discount-text {
    color: red;
}

.special-days {
	margin: 4em 0;
	position: relative;	
}

.special-days h1 {
	color: var(--main-title-colour);
	margin: 2em;	
}
.special-days .card {
	box-shadow: 0 0 20px #ccc;
}

.special-days .card img {
	width: 100%;
	height: 12em;
}

.special-days .card-title {
	color: var(--main-title-colour);	 
}

.special-days .card-body{
	padding: 1em;
}

.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1{
	padding:2em 1px;
	color: var(--main-title-colour);
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background: var(--main-bg-colour);
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}

/* ================================================================= */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    margin-top: 100px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
