/* The file is based on the example shown in Code Institute's Boutique Ado Walkthrough */

:root {
    --main-fg-colour: #768dc3;
    --main-bg-colour: #b5b9a6;
    --main-title-colour: #3b4661;
    --header-gap-value: 164px;
    --header-padding-value: 94px;
    --header-365px-padding-value: 116px;
    --badge-colour: #e4adff;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - var(--header-gap-value));
    color: #5d4f39;
    font-family: Montserrat;
    background-color:#adffe4;
}

/* ---------------------------------- Home Page ---------------------------------- */

.hero-text-style {
    font-family: Pacifo;
    font-style: italic;
}

.hero-image-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/media/hero-image-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.hero-text-centre {
    text-align: center;
    color: white;
}

.remove-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.hide-logo {
    display:none;
}

.hide-text {
    visibility: hidden;
}

.navbar-colour {
	background-color: var(--main-bg-colour);
}

.nav-link , .navbar-brand {
	color: var(--main-fg-colour);
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	background: var(--main-fg-colour);
	color: var(--main-bg-colour);
}

.navbar-collapse {
 justify-content: flex-end;
}

.navbar-toggler {
  background:#fff !important;
}

.posters-mt {
    margin-top: 0;
}

.poster-details-mt {
    margin-top: 0;
}

/* -------------------------------- 'About Us' Styling --------------------------- */

.about {
	margin: 4em 0;
	padding: 1em;
	position: relative;
    font-size: 120%;
}

.about h1 {
	color: var(--main-title-colour);
	margin: 0 2em 2em 2em;
}

.about img {
	height: 100%;
    width: 100%;
}

.about span {
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}

.about .desc {
	padding: 2em;
	border-left:4px solid #10828C;
}

.about .desc h3{
	color: #10828C;
}

.about .desc p{
	line-height:2;
    color: #000;
}

/* -------------------------------- Special Days Styling ------------------------- */

.newline::before {
    content: "\a";
    white-space: pre;
}

.discount-text {
    color: red;
}

.card-image {
    width: 412px;
    height: 100%;
    max-height: 280px;
    object-fit: cover;
}

.special-days {
	margin: 4em 0;
	position: relative;	
}

.special-days h1 {
	color: var(--main-title-colour);
    margin: -1em 2em 2em 2em;
}

.special-days .card {
	box-shadow: 0 0 20px #ccc;
}

.special-days .card-title {
	color: var(--main-title-colour);	 
}

.special-days .card-body {
	padding: 1em;
}

/* ------------------------------- Icons & Buttons ------------------------------- */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    margin-top: 100px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: #e0fff5;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: var(--badge-colour) !important;
    color: #000 !important;
}

.backtotop-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.backtotop-link,
.update-link,
.remove-item,
.remove1-item,
.remove2-item {
    cursor: pointer;
}

.backtotop-colour {
    color: brown !important;
}

.backtotop-border {
    border: 1px solid brown !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------ Bootstrap Toasts ------------------------------- */


.message-container {
    position: fixed;
    top: -36px;
    right: 15px;
    z-index: 99999999999;
    color: red;
    margin-top: 7rem;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------------------------- Miscellaneous Part 1 ------------------------- */

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* -------------- Convenience classes - colours copied from Bootstrap ------------ */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* button */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap button transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Poster Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Footer --------------------------------------- */

.social-networks {
    margin-left: -45px;
}

.social-networks > li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* -------------------------------- Mailchimp ------------------------------------ */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

/* -------------------------------- Miscellaneous Part 2 ------------------------- */
  
.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1 {
	padding:2em 1px;
	color: var(--main-title-colour);
}

.contact-form .right {
	max-width: 600px;
}

.contact-form .right .btn-secondary {
	background: var(--main-bg-colour);
	color: #fff;
	border:0;
}

.contact-form .right .form-control::placeholder {
	color: #888;
	font-size: 16px;
}

/* -------------------------------- Media Queries -------------------------------- */

/* For very large screens */

@media (max-width: 1280px) {
    .card-image {
       max-height: 216px;
    } 
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
       max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    .header-container {
        padding-top: var(--header-gap-value);
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: var(--header-padding-value);
    }

    body {
        height: calc(100vh - var(--header-padding-value));
    }

    .card-image {
        max-height: 156px;
    }
        
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }    
}

/* Larger padding for mobiles < 365px */
@media (max-width: 365px) {
    .header-container {
        padding-top: var(--header-365px-padding-value);
    }

    body {
        height: calc(100vh - var(--header-365px-padding-value));
    }
}

/* Resize images of the Special Days section for mobiles */
@media (max-width: 577px) {
    .card-image {
        max-height: 280px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  
}

/* For very small mobiles, reduce the font size of the Navbar to suit the screen size */
@media (max-width: 310px) {
    .small280 {
        font-size: 50%;
    }  
}
