{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="card mb-3 h-100">
        <img src="{% static 'img/404.jpg' %}" class="card-img-top" alt="404 image from Freepik.com">
        <div class="card-body">
          <h1 class="display-4 logo-font text-black">404 - There Is Nothing To See Here!</h5>
            <div class="my-5">
                <h4>
                    <a href="{% url 'posters' %}" 
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Return to shop
                    </a>
                </h4>
            </div>
            Image by <a href="https://www.freepik.com/free-vector/hand-drawn-404-error_1587605.htm#query=404&position=5&from_view=keyword&track=sph&uuid=82c14246-be4e-409b-8ac4-4adcf199795a">Freepik</a>
        </div>
      </div>
    </div>
{% endblock %}

