{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="card text-center">
        <img src="{% static 'img/500.jpg' %}" class="card-img-top" alt="500 image from Freepik.com">
        <div class="card-body">
          <h1 class="display-4 logo-font text-black">500 - Something has apparently gone wrong!</h5>
            <div class="my-5">
                <h4>
                    <a href="{% url 'posters' %}" 
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Return to shop
                    </a>
                </h4>
            </div>
            <p class="card-text mt-5">Image by <a href="https://www.freepik.com/free-vector/500-internal-server-error-concept-illustration_7967792.htm">Freepik</a></p>
        </div>
      </div>
    </div>
{% endblock %}

