{% load static %}
<footer class="p-3 mt-4 bg-primary text-white">
    <div class="container">

        <div class="row">
            <div class="col">
                <h4>Your Advantages With Us</h4>
                <ul>
                    <li>High quality posters printed on <br>age-resistant 200 gram paper with a matte and exclusive
                        finish.</li>
                    <li>Quick and secure payment with Stripe.</li>
                    <li>Shipping from £3.00.</li>
                </ul>
            </div>
            <div class="col">
                <h4>Customer Service</h4>
                <ul>
                    <li>Send us an email:</li>
                    <li><a class="text-white" href="mailto:biblia@fictional_email.com">biblia@fictional_email.com</a>
                    </li>
                    <li>Contact:</li>
                    <li>101 Biloxi Street, E21 0QP</li>
                    <li>London, England</li>
                </ul>
            </div>
            <div class="col">
                <h4>Visit us</h4>
                <ul class="social-networks">
                    <li>
                        <a href="https://facebook.com" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fab fa-facebook text-black"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in a new tab)">
                            <i class="fab fa-twitter-square text-black"></i></a>
                    </li>
                    <li>
                        <a href="https://youtube.com" target="_blank" rel="noopener"
                            aria-label="Visit our Youtube page (opens in a new tab)">
                            <i class="fab fa-youtube-square text-black"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="p-3  bg-dark bg-gradient text-white">
    <div class="container">
        This website was created for educational purposes as part of the diploma in Full Stack Software Development at
        the Code Institute.
        <br>
        Therefore, <strong>all prices are fictional</strong> and all the images used for the posters
        are available <strong><mark>for free</mark></strong> 
        at <a class="text-warning" href="https://www.freebibleimages.org/" target="_blank" rel="noopener"
            aria-label="Visit Free Bible Images (opens in a new tab)">
            Free Bible Images</a>.
        <br>
        Please visit this site for the terms of image use.
        <br>
        © 2023. All Rights Reserved.
    </div>
</footer>