<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-posters-link">
                <a href="{% url 'posters' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'posters' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'posters' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'posters' %}" class="dropdown-item">All Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="old-testament-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Old Testament
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="old-testament-link">
                <a href="{% url 'posters' %}?category=genesis" class="dropdown-item">Genesis</a>
                <a href="{% url 'posters' %}?category=exodus" class="dropdown-item">Exodus</a>
                <a href="{% url 'posters' %}?category=numbers" class="dropdown-item">Numbers</a>
                <a href="{% url 'posters' %}?category=joshua" class="dropdown-item">Joshua</a>
                <!--Comma separated list used for categories - ensure no spaces with the commas-->                
                <a href="{% url 'posters' %}?category=genesis,exodus,numbers,joshua" class="dropdown-item">All O.T. Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-testament-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Testament
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-testament-link">
                <a href="{% url 'posters' %}?category=jesus" class="dropdown-item">Jesus</a>
                <a href="{% url 'posters' %}?category=apostles" class="dropdown-item">Apostles</a>
                <!--Comma separated list used for categories - ensure no spaces with the commas-->                
                <a href="{% url 'posters' %}?category=jesus,apostles" class="dropdown-item">All N.T. Posters</a>
            </div>
        </li>
    </ul>
</div>