<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-posters-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Posters
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-posters-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="old-testament-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Old Testament
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="old-testament-link">
                <a href="" class="dropdown-item">Genesis</a>
                <a href="" class="dropdown-item">Exodus</a>
                <a href="" class="dropdown-item">Numbers</a>
                <a href="" class="dropdown-item">Joshua</a>
                <a href="" class="dropdown-item">All O.T. Posters</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new-testament-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Testament
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-testament-link">
                <a href="" class="dropdown-item">Jesus</a>
                <a href="" class="dropdown-item">The Apostles</a>
                <a href="" class="dropdown-item">All N.T. Posters</a>
            </div>
        </li>

    </ul>
</div>