<!-- The file is based on the example shown in Code Institute's Boutique Ado Walkthrough -->

{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Poster Management</h2>
            <h1>Are you sure you want to delete?</h1>
            <hr>
            <h3>{{ poster.name }}</h3>
            <p>{{ poster.description|truncatewords:40 }}</p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="" class="form mb-2">
                {% csrf_token %}
                <input class="btn btn-danger rounded-0" type="submit" value="Yes" />
                <a href="{% url 'posters' %}">
                    <div class="btn btn-primary rounded-0">Cancel</div>
                </a>

            </form>
        </div>
    </div>
</div>
{% endblock %}