{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid poster-details-mt">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if poster.image %}
                <a href="{{ poster.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ poster.image.url }}" alt="{{ poster.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ poster.name }}">
                </a>
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="mb-5 mt-md-5">
                <p class="mb-0">{{ poster.name }}</p>
                <div class="d-flex">
                    <!-- Poster Price -->
                    <div>
                        <p class="lead mb-0 text-left font-weight-bold">£{{ poster.price }}</p>
                    </div>
                    <!-- Add to Wishlist, Remove From Wishlist -->
                    {% if 1 %}
                    <div class="ml-auto">
                        <div class="d-flex">
                            <div>
                                <small>
                                    <i class="fas fa-heart mr-1"></i>
                                </small>
                            </div>
                            <div class="ml-auto">
                                <small>
                                    <a href="" style="margin-left: 0.2rem;">Wishlist - Add</a> |
                                    <a class="text-danger" href="">Delete</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="d-flex">
                    <!-- Poster Category -->
                    {% if poster.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'posters' %}?category={{ poster.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ poster.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <!-- Add Review, Delete Review -->
                    <div class="ml-auto">
                        {% if 1 %}
                        <small>
                            <i class="fas fa-commenting mr-1"></i>
                            <a href="{% url 'add_review' %}" style="margin-left: 0.25rem;">Review - Add</a>
                            <span style="visibility: hidden;"> | Delete</span>
                        </small>
                        {% else %}
                        <small>
                            <i class="fas fa-commenting mr-1"></i>
                            <a href="" style="margin-left: 0.25rem;">Review - Edit</a> |
                            <a class="text-danger" href="">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex">
                    <!-- Poster Category -->
                    {% if poster.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ poster.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}

                    <!-- Edit Poster, Delete Poster -->
                    <div class="ml-auto">
                        {% if 1 %}
                        <small>
                            <i class="fas fa-pencil-square mr-3"></i>
                            <a href="" style="margin-left: -0.2rem;">Poster - Edit</a> |
                            <a class="text-danger" href="">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>

                <p class="mt-3">{{ poster.description }}</p>
                <form class="form" action="{% url 'add_to_bag' poster.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ poster.id }}" id="decrement-qty_{{ poster.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>

                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ poster.id }}" id="id_qty_{{ poster.id }}">

                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ poster.id }}" id="increment-qty_{{ poster.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'posters' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>

        <!-- List out all available reviews regarding current poster -->
        {% if poster_reviews %}
        <div class="col-12 offset-lg-4">
            <hr>
            <h2 class="logo-font mb-4">Reviews</h2>
            <hr>
            {% for review in poster_reviews %}
            <div class="row">
                <h2 class="col-12 mb-1">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <strong  style="color:brown;"> {{ review.user }}</strong>
                    
                </h3>
                <div class="col-12 mb-1">
                    
                    <i class="fas fa-star mr-1 style="color:yellow;"></i>{{ review.rating }} / 5</p>
                    <h2>{{ review.title }}</h2>
                </div>
                    <p style="padding-left: 1rem;"><strong>Reviewed on 23rd January 2024</strong></p>
            </div>
            <h5 style="margin-left: -1rem;" class="col-12">
                {{ review.content }}
            </h5>
            <hr>
        </div>
        
        {% endfor %}
    </div>
    {% endif %}
</div>
{% include 'includes/footer.html' %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'posters/includes/quantity_input_script.html' %}
{% endblock %}